.main {
    display: flex;
    justify-content: center;
}

.box {
    margin: 20px;
    width: 500px;
    height: 600px;
    border: 10px solid #ccc;
    text-align: center;
    min-width: 250px;
}
.item-img {
    max-width: 80%;
}

button {
    background: #1aab8a;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 0 25px;
}
button:hover {
    background: #fff;
    color: #1aab8a;
}
button:before,
button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1aab8a;
    transition: 400ms ease all;
}
button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.win {
    border: 10px solid #0359ae;
    color: rgb(4, 83, 230);
}
.win h2 {
    text-transform: uppercase;
}
.lose {
    border: 10px solid #ebe5d9;
    color: #ccc;
}
.resultP {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
